<a href="https://colab.research.google.com/github/rsbatistajuliana/dio-datascience-pandas/blob/main/bootcamp_dio_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python para análise de dados - PANDAS

In [ ]:
import pandas as pd #importar bib pandas

In [ ]:
#Mapear o drive para ter aceso à base de dados salva nele.
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/desafio-projeto-2/datasets/Gapminder.csv') #apresentou um erro - resolvido na próxima linha de código

ParserError: ignored

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/desafio-projeto-2/datasets/Gapminder.csv',error_bad_lines=False)#ignorar linhas com erro

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 665: expected 1 fields, saw 2\nSkipping line 666: expected 1 fields, saw 2\nSkipping line 667: expected 1 fields, saw 2\nSkipping line 668: expected 1 fields, saw 2\nSkipping line 669: expected 1 fields, saw 2\nSkipping line 670: expected 1 fields, saw 2\nSkipping line 671: expected 1 fields, saw 2\nSkipping line 672: expected 1 fields, saw 2\nSkipping line 673: expected 1 fields, saw 2\nSkipping line 674: expected 1 fields, saw 2\nSkipping line 675: expected 1 fields, saw 2\nSkipping line 676: expected 1 fields, saw 2\nSkipping line 677: expected 1 fields, saw 2\nSkipping line 678: expected 1 fields, saw 2\nSkipping line 679: expected 1 fields, saw 2\nSkipping line 680: expected 1 fields, saw 2\nSkipping line 681: expected 1 fields, saw 2\nSkipping line 682: expected 1 fields, saw 2\nSkipping line 683: expected 1 fields, saw 2\nSkipping line 684: expected 1 fields, saw 2\nSkipping line 685: expected 1 fields, saw 2\nSkipping line 686: expected 1 fields, saw 2\nSkipping line 687: expected 1 fields, saw 2\nSkipping line 688: expected 1 fields, saw 2\nSkipping line 1275: expected 1 fields, saw 2\nSkipping line 1276: expected 1 fields, saw 2\nSkipping line 1277: expected 1 fields, saw 2\nSkipping line 1278: expected 1 fields, saw 2\nSkipping line 1279: expected 1 fields, saw 2\nSkipping line 1280: expected 1 fields, saw 2\nSkipping line 1281: expected 1 fields, saw 2\nSkipping line 1282: expected 1 fields, saw 2\nSkipping line 1283: expected 1 fields, saw 2\nSkipping line 1284: expected 1 fields, saw 2\nSkipping line 1285: expected 1 fields, saw 2\nSkipping line 1286: expected 1 fields, saw 2\nSkipping line 1629: expected 1 fields, saw 2\nSkipping line 1630: expected 1 fields, saw 2\nSkipping line 1631: expected 1 fields, saw 2\nSkipping line 1632: expected 1 fields, saw 2\nSkipping line 1633: expected 1 fields, saw 2\nSkipping line 1634: expected 1 fields, saw 2\nSkipping line 1635: expected 1 fields, saw 2\nSkipping line 1636: expected 1 fields, saw 2\nSkipping line 1637: expected 1 fields, saw 2\nSkipping line 1638: expected 1 fields, saw 2\nSkipping line 1639: expected 1 fields, saw 2\nSkipping line 1640: expected 1 fields, saw 2\nSkipping line 1641: expected 1 fields, saw 2\nSkipping line 1642: expected 1 fields, saw 2\nSkipping line 1643: expected 1 fields, saw 2\nSkipping line 1644: expected 1 fields, saw 2\nSkipping line 1645: expected 1 fields, saw 2\nSkipping line 1646: expected 1 fields, saw 2\nSkipping line 1647: expected 1 fields, saw 2\nSkipping line 1648: expected 1 fields, saw 2\nSkipping line 1649: expected 1 fields, saw 2\nSkipping line 1650: expected 1 fields, saw 2\nSkipping line 1651: expected 1 fields, saw 2\nSkipping line 1652: expected 1 fields, saw 2\nSkipping line 1823: expected 1 fields, saw 2\nSkipping line 1824: expected 1 fields, saw 2\nSkipping line 1825: expected 1 fields, saw 2\nSkipping line 1826: expected 1 fields, saw 2\nSkipping line 1827: expected 1 fields, saw 2\nSkipping line 1828: expected 1 fields, saw 2\nSkipping line 1829: expected 1 fields, saw 2\nSkipping line 1830: expected 1 fields, saw 2\nSkipping line 1935: expected 1 fields, saw 2\nSkipping line 1936: expected 1 fields, saw 2\nSkipping line 1937: expected 1 fields, saw 2\nSkipping line 1938: expected 1 fields, saw 2\nSkipping line 1939: expected 1 fields, saw 2\nSkipping line 1940: expected 1 fields, saw 2\nSkipping line 1941: expected 1 fields, saw 2\nSkipping line 1942: expected 1 fields, saw 2\nSkipping line 3278: expected 1 fields, saw 2\nSkipping line 3279: expected 1 fields, saw 2\nSkipping line 3280: expected 1 fields, saw 2\nSkipping line 3281: expected 1 fields, saw 2\nSkipping line 3282: expected 1 fields, saw 2\nSkipping line 3283: expected 1 fields, saw 2\nSkipping line 3284: expected 1 fields, saw 2\nSkipping line 3285: expected 1 fields, saw 2\nSkipping line 3286: expected 1 fields, saw 2\nSkipping line 3287: expected 1 fields, saw 2\nSkipping line 3288: expected 1 fields, saw 2\nSkipping line 3289: expected 1 fields, saw 2\n'

In [ ]:
#Visualizando as 5 primeiras linhas 
df.head()

        country;continent;year;lifeExp;pop;gdpPercap
0   Afghanistan;Asia;1952;28.801;8425333;779.4453145
1   Afghanistan;Asia;1957;30.332;9240934;820.8530296
2  Afghanistan;Asia;1962;31.997;10267083;853.1007...
3   Afghanistan;Asia;1967;34.02;11537966;836.1971382
4  Afghanistan;Asia;1972;36.088;13079460;739.9811...

In [ ]:
#veio estranho, o separador é ;
#como mudar o separador? parametro da leitura sep=";" - muda o separador , para ;
df = pd.read_csv('/content/drive/MyDrive/desafio-projeto-2/datasets/Gapminder.csv',error_bad_lines=False,sep=";")

In [ ]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
#mudar nome das colunas e troca em df
df= df.rename(columns={"country":"Pais", 
                   "continent": "Continente",
                   "year":"Ano",
                   "lifeExp":"Expectativa de vida",
                   "pop":"Pop. Total",
                   "gdpPercap":"PIBpercapta" })
df.head(10)

          Pais Continente   Ano  Expectativa de vida  Pop. Total  PIBpercapta
0  Afghanistan       Asia  1952               28.801     8425333   779.445314
1  Afghanistan       Asia  1957               30.332     9240934   820.853030
2  Afghanistan       Asia  1962               31.997    10267083   853.100710
3  Afghanistan       Asia  1967               34.020    11537966   836.197138
4  Afghanistan       Asia  1972               36.088    13079460   739.981106
5  Afghanistan       Asia  1977               38.438    14880372   786.113360
6  Afghanistan       Asia  1982               39.854    12881816   978.011439
7  Afghanistan       Asia  1987               40.822    13867957   852.395945
8  Afghanistan       Asia  1992               41.674    16317921   649.341395
9  Afghanistan       Asia  1997               41.763    22227415   635.341351

In [ ]:
#Total de linhas e colunas de df
df.shape

(3312, 6)

In [ ]:
#Retorna nomes das colunas 
df.columns

Index(['Pais', 'Continente', 'Ano', 'Expectativa de vida', 'Pop. Total',
       'PIBpercapta'],
      dtype='object')

In [ ]:
#qual tipo de dado de cada coluna?
df.dtypes
#object = string

Pais                    object
Continente              object
Ano                      int64
Expectativa de vida    float64
Pop. Total               int64
PIBpercapta            float64
dtype: object

In [ ]:
#retorna ultima linhas
df.tail(7)

          Pais Continente   Ano  Expectativa de vida  Pop. Total  PIBpercapta
3305  Zimbabwe     Africa  1977               57.674     6642107   685.587682
3306  Zimbabwe     Africa  1982               60.363     7636524   788.855041
3307  Zimbabwe     Africa  1987               62.351     9216418   706.157306
3308  Zimbabwe     Africa  1992               60.377    10704340   693.420786
3309  Zimbabwe     Africa  1997               46.809    11404948   792.449960
3310  Zimbabwe     Africa  2002               39.989    11926563   672.038623
3311  Zimbabwe     Africa  2007               43.487    12311143   469.709298

In [ ]:
#describe retorna infos estatisticas
df.describe()
#STD - DESVIO PADRÃO
#quartis - 25%, 50% - mediana,75%

               Ano  Expectativa de vida    Pop. Total    PIBpercapta
count  3312.000000          3312.000000  3.312000e+03    3312.000000
mean   1980.301630            65.246871  3.161489e+07   11317.115805
std      16.927294            11.768412  1.041193e+08   11369.142739
min    1950.000000            23.599000  5.941200e+04     241.165876
25%    1967.000000            58.337500  2.678572e+06    2514.625266
50%    1982.000000            69.610000  7.557218e+06    7838.505123
75%    1996.000000            73.657750  1.958522e+07   17357.879170
max    2007.000000            82.670000  1.318683e+09  113523.132900

In [ ]:
#fazer filtro no df
#quero dados de um continente
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [ ]:
#quero retornar apenas valores de oceania - FILTROS
Oceania = df.loc[df["Continente"]== "Oceania"]
Oceania.head()

     Pais Continente   Ano  Expectativa de vida  Pop. Total  PIBpercapta
975  Fiji    Oceania  1962               56.494      421869  2039.393277
976  Fiji    Oceania  1967               58.607      485000  2170.073285
977  Fiji    Oceania  1972               60.642      544000  2797.759484
978  Fiji    Oceania  1977               62.669      599339  3182.569600
979  Fiji    Oceania  1982               64.683      658906  3209.257468

In [ ]:
#Agrupamento de dados - útil para SQL
#Agrupar por continente mas quero trazer quantos paises por continente
df.groupby("Continente")["Pais"].nunique() #contagem distinta

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [ ]:
#Para cada ano qual é a expectativa de vida média?
df.groupby("Ano")["Expectativa de vida"].mean()

Ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283438
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921562
2005    76.718667
2006    77.887778
2007    67.868557
Name: Expectativa de vida, dtype: float64

In [ ]:
#Media de uma coluna
df["PIBpercapta"].mean()

11317.115804696648

In [ ]:
#Soma de um coluna
df["PIBpercapta"].sum()

37482287.5451553